<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable=no>
    <title>Article</title>
    <link rel="stylesheet" href="../../public/css/articleList.css">
    <link rel="stylesheet" href="../../public/css/responsive-index.css">
    <link rel="stylesheet" href="../../public/css/responsive-article-list.css">
    <script>
        function openChat(url){
            window.location = url;
        }
        function toggleResponsive(){
            document.getElementById("navigationDrawer").classList.toggle("active");
        }
    </script>
</head>
<body>
    <button class="chatButton" onclick="openChat('../template/chat.html')">
        <img src="../../public/img/chatButton.png" alt="button chat" />
    </button>
    <header>
        <div class="app-bar">
            <div class="app-bar__menu" id="hamburger-button">
                <button id="hamburgerButton" onclick="toggleResponsive()">☰</button>
            </div>
            <div class="app-bar__brand">
                <img src="../../public/img/pacify-logo.png" alt="Logo Pacify">
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul id="main-nav">
                    <li><a href="index.html" onclick="toggleResponsive()">Home</a></li>
                    <li><a href="index.html#newsContainer" onclick="toggleResponsive()">Article</a></li>
                    <li><a href="diaryStorage.html" onclick="toggleResponsive()">Diary</a></li>
                    <li><button class="loginButton" onclick="toggleResponsive()">Login</button></li>
                    <!-- <li><a href="#" id="loginButton" class="loginButton">Login</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1>ARTICLE LIST</h1>
        <div class="articleList">
            <div class="article">
                <a href="#">
                    <img src="../../public/img/article-1.jpg" alt="Article Image">
                    <div class="articleContent">
                        <h2>Lorem Ipsum is simply dummy</h2>
                        <p class="date">24 November 2021</p>
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        </p>
                    </div>
                </a>
            </div>
            <div class="article">
                <a href="#">
                    <img src="../../public/img/article-1.jpg" alt="Article Image">
                    <div class="articleContent">
                        <h2>Lorem Ipsum is simply dummy</h2>
                        <p class="date">24 November 2021</p>
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        </p>
                    </div>
                </a>
            </div>
            <div class="article">
                <a href="#">
                    <img src="../../public/img/article-1.jpg" alt="Article Image">
                    <div class="articleContent">
                        <h2>Lorem Ipsum is simply dummy</h2>
                        <p class="date">24 November 2021</p>
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        </p>
                    </div>
                </a>
            </div>
            <div class="article">
                <a href="#">
                    <img src="../../public/img/article-1.jpg" alt="Article Image">
                    <div class="articleContent">
                        <h2>Lorem Ipsum is simply dummy</h2>
                        <p class="date">24 November 2021</p>
                        <p class="content">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <footer>
        <p>© Pacify 2021. All rights reserved </p>
    </footer>
</body>
</html>