<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
    <link rel="stylesheet" href="../../public/css/article.css">
    <link rel="stylesheet" href="../../public/css/responsive.css">
    <script>
        function openChat(url){
            window.location = url;
        }
    </script>
</head>
<body>
    <button class="chatButton" onclick="openChat('chat.html')"><img src="../../public/img/chatButton.png" alt=""></button>
    <header>
        <div class="app-bar">
            <div class="app-bar__menu">
                <button id="hamburgerButton">☰</button>
            </div>
            <div class="app-bar__brand">
                <img src="../../public/img/pacify-logo.png" alt="Logo Pacify">
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Article</a></li>
                    <li><a href="#">Diary</a></li>
                    <button class="loginButton">Login</button>
                    <!-- <li><a href="#" id="loginButton" class="loginButton">Login</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="articleContainer">
            <h1>Lorem Ipsum is simply dummy </h1>
            <p class="date">24 November 2021</p>
            <img src="../../public/img/article-1.jpg" alt="Article Image">
            <br>
            <a href="https://www.freepik.com/photos/woman">Woman photo created by rawpixel.com - www.freepik.com</a>
            <br>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
            </p>
        </div>
        <div class="newsContainer">
            <div class="headingNews">
                <h3>What's New?</h3>
                <p>All things that might helps you get through a hard time</p>
            </div>
            <div class="listNews">
                <div class="news">
                    <img src="../../public/img/article-1.jpg" alt="article picture">
                    <p>24 Nov 2021</p>
                    <p class="newsTitle">7 Alasan penggunaan masalah yang ada di masyarakat sekitar</p>
                </div>
                <div class="news">
                    <img src="../../public/img/article-2.jpg" alt="article picture">
                    <p>24 Nov 2021</p>
                    <p class="newsTitle">7 Alasan penggunaan masalah</p>
                </div>
                <div class="news">
                    <img src="../../public/img/article-3.jpg" alt="article picture">
                    <p>24 Nov 2021</p>
                    <p class="newsTitle">7 Alasan penggunaan masalah</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© Pacify 2021. All rights reserved </p>
    </footer>
</body>
</html>