<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../../public/css/chat.css">
    <link rel="stylesheet" href="../../public/css/responsive-index.css">
    <link rel="stylesheet" href="../../public/css/responsive-chat.css">
    <script src="https://kit.fontawesome.com/23966b100c.js" crossorigin="anonymous"></script>
    <script>
        function toggleResponsive(){
            document.getElementById("navigationDrawer").classList.toggle("active");
        }
    </script>
</head>
<body>
    <header>
        <div class="app-bar">
            <div class="app-bar__menu" id="hamburger-button">
                <button id="hamburgerButton" onclick="toggleResponsive()">☰</button>
            </div>
            <div class="app-bar__brand">
                <img src="../../public/img/pacify-logo.png" alt="Logo Pacify">
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul id="main-nav">
                    <li><a href="index.html" onclick="toggleResponsive()">Home</a></li>
                    <li><a href="index.html#newsContainer" onclick="toggleResponsive()">Article</a></li>
                    <li><a href="diaryStorage.html" onclick="toggleResponsive()">Diary</a></li>
                    <li><button class="loginButton" onclick="toggleResponsive()">Login</button></li>
                    <!-- <li><a href="#" id="loginButton" class="loginButton">Login</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1 class="getStartedHeading">One click away from starting to have a conversation with others!</h1>
        <button class="getStartedButton">Get Started</button>    
    </main>
    <footer>
        <p>© Pacify 2021. All rights reserved </p>
    </footer>
</body>
</html>