<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diaries</title>
    <link rel="stylesheet" href="../../public/css/diaryStorage.css">
    <link rel="stylesheet" href="../../public/css/responsive-index.css">
    <script>
        function openChat(url) {
            window.location = url;
        }
        function toggleResponsive(){
                document.getElementById("navigationDrawer").classList.toggle("active");
        }
    </script>
</head>

<body>
    <button class="chatButton" onclick="openChat('../template/chat.html')">
        <img src="../../public/img/chatButton.png" alt="button chat" />
    </button>
    <header>
        <div class="app-bar">
            <div class="app-bar__menu" id="hamburger-button">
                <button id="hamburgerButton" onclick="toggleResponsive()">☰</button>
            </div>
            <div class="app-bar__brand">
                <img src="../../public/img/pacify-logo.png" alt="Logo Pacify">
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul id="main-nav">
                    <li><a href="index.html" onclick="toggleResponsive()">Home</a></li>
                    <li><a href="index.html#newsContainer" onclick="toggleResponsive()">Article</a></li>
                    <li><a href="#" onclick="toggleResponsive()">Diary</a></li>
                    <li><button class="loginButton" onclick="toggleResponsive()">Login</button></li>
                    <!-- <li><a href="#" id="loginButton" class="loginButton">Login</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="diaryStorageContainer">
            <h1>Look How Far You've Come!</h1>
            <div class="diaryList">
                <div class="diaries">
                    <h2>16 Oct 2021</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an...
                    </p>
                    <a href="#">click for more</a>
                </div>
                <div class="diaries">
                    <h2>16 Oct 2021</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an...
                    </p>
                    <a href="#">click for more</a>
                </div>
                <div class="diaries">
                    <h2>16 Oct 2021</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an...
                    </p>
                    <a href="#">click for more</a>
                </div>
                <div class="diaries">
                    <h2>16 Oct 2021</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an...
                    </p>
                    <a href="#">click for more</a>
                </div>
                <div class="diaries">
                    <h2>16 Oct 2021</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an...
                    </p>
                    <a href="#">click for more</a>
                </div>
                <div class="diaries">
                    <h2>16 Oct 2021</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an...
                    </p>
                    <a href="#">click for more</a>
                </div>
                <div class="diaries">
                    <h2>16 Oct 2021</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an...
                    </p>
                    <a href="#">click for more</a>
                </div>
                <div class="diaries">
                    <h2>16 Oct 2021</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an...
                    </p>
                    <a href="#">click for more</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© Pacify 2021. All rights reserved </p>
    </footer>
</body>

</html>