<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="../../public/css/login-register.css">
    <link rel="stylesheet" href="../../public/css/responsive-index.css">
</head>
<body>
    <header>
        <div class="app-bar">
            <div class="app-bar__menu">
                <button id="hamburgerButton">☰</button>
            </div>
            <div class="app-bar__brand">
                <img src="../../public/img/pacify-logo.png" alt="Logo Pacify">
            </div>
            <nav id="navigationDrawer" class="app-bar__navigation">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html#newsContainer">Article</a></li>
                    <li><a href="diaryStorage.html">Diary</a></li>
                    <button class="loginButton">Login</button>
                    <!-- <li><a href="#" id="loginButton" class="loginButton">Login</a></li> -->
                </ul>
            </nav>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="user signinBox">
                <div class="formBox">
                    <form action="">
                        <h2>SIGN IN</h2>
                        <input type="text" placeholder="Username">
                        <input type="password" placeholder="Password">
                        <input type="submit" value="Login">
                        <p class="signup">DON'T HAVE AN ACCOUNT?  <a href="#" onclick="toggleForm()">SIGN UP.</a></p>
                    </form>
                </div>
                <div class="imgBox">
                    <img src="../../public/img/login.jpg" alt="" class="imageBox">
                </div>
            </div>

            <div class="user registerBox">
                <div class="imgBox">
                    <img src="../../public/img/register.jpg" alt="" class="imageBox">
                </div>
                <div class="formBox">
                    <form action="">
                        <h2>CREATE AN ACCOUNT</h2>
                        <input type="text" placeholder="Username">
                        <input type="text" placeholder="Email Address">
                        <input type="password" placeholder="Create Password">
                        <input type="password" placeholder="Confirm Password"> 
                        <input type="submit" value="Register">
                        <p class="signup">ALREADY HAVE AN ACCOUNT?  <a href="#" onclick="toggleForm()">SIGN IN.</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        function toggleForm(){
            section = document.querySelector('section');
            container = document.querySelector('.container');
            container.classList.toggle('active');
            section.classList.toggle('active');
        }
    </script>
</body>
</html>