@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}
/* CHAT BUTTON */

.chatButton {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #010812;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* NAV BAR */

.app-bar {
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    left: 0;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 13px;
    margin-bottom: 5px;
    width: 100%;
}
#hamburgerButton {
    width: 44px;
    height: 44px;
}

/* MAIN SECTION */
.articleContainer {
    width: 1024px;
    margin: 100px auto;
}

.articleContainer h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    letter-spacing: 0.04em;
    color: #212933;
    margin-bottom: 10px;
}
.articleContainer p {
    width: 775px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 175.4%;
    /* or 42px */
    letter-spacing: 0.045em;
    color: #212933;
    margin-bottom: 50px;
    margin-top: 50px;
}
.articleContainer .date {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.04em;
    color: #f14b4b;
    margin-bottom: 40px;
}
.articleContainer img {
    width: 722px;
    border-radius: 6px;
}
.articleContainer a {
    text-decoration: none;
    color: #212933;
    font-size: 14px;
    line-height: 175.4%;
    font-weight: bold;
}

/* NEWS SECTION */
.newsContainer {
    /* position: absolute; */
    width: 100%;
    height: 794px;
    padding: 80px;
    /* left: 0px;
    top: 1624px; */
    margin-bottom: 90px;
    background: #303841;
}
.newsContainer .headingNews {
    /* position: absolute; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
    margin: auto;
    width: 1320px;
    /* top: 100px;
    left: 270px; */
    padding-bottom: 20px;
}

.newsContainer .headingNews h3 {
    /* position: absolute; */
    width: 395.41px;
    height: 36px;
    left: 212.29px;
    top: 85px;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 35px;
    /* identical to box height, or 89% */

    letter-spacing: 0.04em;

    color: #ffffff;
}

.newsContainer .headingNews p {
    /* position: absolute; */
    width: 708.98px;
    height: 52px;
    left: 212.29px;
    top: 148px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 60px;
    /* or 177% */
    letter-spacing: 0.04em;
    color: #ffffff;
}

.newsContainer .listNews {
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    width: 1320px;
}
.newsContainer .listNews .news {
    width: 400px;
}
.newsContainer .listNews .news img {
    width: 100%;
    border-radius: 10px;
}
.newsContainer .listNews .news p {
    font-style: normal;
    font-weight: 700;
    color: #e77979;
    letter-spacing: 1px;
    margin-top: 10px;
}

.newsContainer .listNews .news .newsTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    line-height: 35px;
}

/* FOOTER SECTION */
footer {
    width: 80%;
    margin: auto;
    border-top: 1px solid rgba(71, 69, 69, 0.274);
    padding: 50px;
}

footer p {
    text-align: center;
}
