@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}
/* CHAT BUTTON */

.chatButton {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #010812;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/* NAV BAR */

.app-bar {
    padding: 8px 16px;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); */
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__navigation {
    position: absolute;
    top: 50px;
    left: -100%;
    width: 150px;
    transition: all 0.3s;
    padding: 8px;
    background-color: white;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    left: 0;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 13px;
    margin-bottom: 5px;
    width: 100%;
}
#hamburgerButton {
    width: 44px;
    height: 44px;
}

/* ARTICLE */
h1 {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;

    line-height: 59px;
    /* identical to box height */
    letter-spacing: 0.04em;
    color: #76bae0;
}
.articleList {
    margin: 100px auto;
}
.articleList .article {
    width: 100%;
    margin-bottom: 70px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(71, 69, 69, 0.137);
}
.articleList .article a {
    display: flex;
    text-decoration: none;
}
.articleList .article a img {
    max-width: 400px;
    margin-right: 40px;
}

.articleList .article a .articleContent {
    margin: auto;
}
.articleList .article a .articleContent h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: 0.04em;
    color: #212933;
}

.articleList .article a .articleContent .date {
    font-size: 22px;
    font-weight: 700;
    color: #f05f5f;
    letter-spacing: 1px;
    margin: 5px 0 10px;
}

.articleList .article a .articleContent .content {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 175.4%;
    /* or 42px */
    letter-spacing: 0.045em;
    color: #212933;
    margin-bottom: 50px;
}

/* FOOTER SECTION */
footer {
    width: 80%;
    margin: auto;
    border-top: 1px solid rgba(71, 69, 69, 0.274);
    padding: 50px;
}

footer p {
    text-align: center;
}
